<div class="detail">
  <h4 class="detailTitle"><%= @product.name %></h4>
  <hr />
  <table class="detailInfo">
    <tbody>
      <tr>
        <td width="250">商品价格：<font><%= @product.sell_price %></font></td>
        <td>报名统计：已有<font><%= @product.order_items.count %></font>笔预定</td>
      </tr>   
    </tbody>
  </table>
  <a class="taobaoLk" href="<%= @product.taobao_link %>" target="_blank">淘宝链接：<%= @product.taobao_link %> </a> 
  <a class="taobaoLk" href="<%= @product.product_link %>" target="_blank">产品链接：<%= @product.product_link %> </a> 
  
  <div class="imgBox"><img src="<%= @product.photo.url %>" alt=" " /></div>
  <br/>
  <table class="countTable">
     <thead>
	 <tr>
	   <th>颜色</th>
	   <th>尺寸</th>
	   <th>剩余数量</th>
	 </tr>
     </thead>
     <tbody>
	   <% @product.product_skus.each do |sku| %>
	   <tr>
	     <td><%= sku.color %></td>
		 <td><%= sku.size %></td>
		 <td><%= sku.number - sku.selled_number %></td>
	   </tr>
	   <% end %>
    </tbody>
  </table>
  <br/>
  <a class="btn btn-kuma btn-large" href="javascript:reserve('<%= @activity.token %>','<%= @product.id %>')" >立即预定</a>
  <hr />

  <%= partial 'buy/reserve_his' %>
</div>
<%= partial 'buy/reserve_form'%>