
<h4 class="pTitle fl">我的活动</h4>
<%= link_to '新建活动' ,'/admin/activities/new',class: "btn btn-kuma btn-kumaSmall fr addnew-btn" %>

<table class="table table-activity">
	<thead>
        <tr>
          <th>活动名称</th>
          <th>商品数量</th>
          <th>当前状态</th>
          <th>操作</th>
        </tr>
    </thead>
    <tbody>
	<% @activities.each do |activity| %>
	<tr>
      <td><%= link_to activity.name, "/admin/activities/#{activity.id}/edit" %></td>
      <td><%= link_to "#{activity.products_count}", "/admin/products?activity_id=#{activity.id}" %></td>
      <td><%= activity.status_desc %></td>
      <td>
		<%= link_to '查看购买记录', "/admin/activities/#{activity.id}/report_flow"%>
		<%= link_to '分享链接', "/buy/#{activity.token}" , target: '_blank', title:'查看'%>
		<%= link_to '编辑', "/admin/activities/#{activity.id}/edit" %>
		<%= link_to '删除', "/admin/activities/#{activity.id}", method: :delete, confirm: '你确定删除该活动么？' %>
	  </td>
    </tr>
	<% end %>
	</tbody>
	<%= (will_paginate @activities, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
</table>