
<h4 class="pTitle fl">我的活动</h4>
<%= link_to 'add activity' ,'/admin/activities/new',class: "btn btn-kuma btn-kumaSmall fr addnew-btn" %>

<table class="table table-activity">
	<thead>
        <tr>
          <th>活动名称</th>
          <th>商品数量</th>
          <th>当前状态</th>
          <th>操作</th>
        </tr>
    </thead>
    <tbody>
	<% @activities.each do |activity| %>
	<tr>
      <td><%= link_to activity.name, "/admin/activities/#{activity.id}/edit" %></td>
      <td><%= activity.products_count %></td>
      <td><%= activity.status %></td>
      <td>
		<%= link_to '', "/buy/#{activity.token}" , target: '_blank',class: 'btn-show', title:'查看'%>
		<%= link_to '', "/admin/activities/#{activity.id}/edit", class: 'btn-edit',title:"编辑" %>
		<%= link_to '', "/admin/activities/#{activity.id}", method: :delete, confirm: 'are u wanna del this activity?', class: 'btn-del', title: "删除" %>
	  </td>
    </tr>
	<% end %>
	</tbody>
	<%= (will_paginate @activities, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
</table>