<fieldset>
	<div class="control-group">
      <label class="control-label" for="">activity</label>
      <div class="controls">
        <%= form.text_field :activity_id ,class: "input-xlarge"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">product_name</label>
      <div class="controls">
        <%= form.text_field :name ,class: "input-xlarge"%>
      </div>
    </div>
     <div class="control-group">
      <label class="control-label" for=""></label>
      <div class="controls">
        <%= image_tag @product.photo.url(:thumb) %>
      </div>
    </div>
     <div class="control-group">
      <label class="control-label" for="">photo</label>
      <div class="controls">
        <%= form.file_field :photo ,class: "input-xlarge"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">income_price</label>
      <div class="controls">
        <%= form.text_field :purchase_price ,class: "input-xlarge"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">sell_price</label>
      <div class="controls">
        <%= form.text_field :sell_price ,class: "input-xlarge"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">taobao_link</label>
      <div class="controls">
        <%= form.text_field :taobao_link ,class: "input-xlarge"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">product_link</label>
      <div class="controls">
        <%= form.text_field :product_link ,class: "input-xlarge"%>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-kuma btn-large" type="submit">立即发布</button>
      </div>
    </div>
</table>
</fieldset>
