<table>
	<tr>
		<th>activity</th>
		<td><%= form.text_field :activity_id %></td>
	</tr>

	<tr>
		<th>product_name</th>
		<td><%= form.text_field :name %></td>
	</tr>
	<% if @product.photo %>
	<tr>
		<th>photo</th>
		<td><%= image_tag @product.photo.url(:thumb) %></td>
	</tr>
	<% end %>
	<tr>
		<th>photo</th>
		<td><%= form.file_field :photo %></td>
	</tr>

	<tr>
		<th>income_price</th>
		<td><%= form.text_field :purchase_price %></td>
	</tr>

	<tr>
		<th>sell_price</th>
		<td><%= form.text_field :sell_price %></td>
	</tr>

	<tr>
		<th>taobao_link</th>
		<td><%= form.text_field :taobao_link %></td>
	</tr>

	<tr>
		<th>other_link</th>
		<td><%= form.text_field :product_link %></td>
	</tr>

	<tr>
		<th>&nbsp;</th>
		<td>
			<%= form.submit 'submit'%>
		</td>
	</tr>
</table>