Products <%= link_to 'add product' ,'/admin/products/new' %>
<br/>
<table border = "1">
	<caption>products total: </caption>
	<tr>
		<td>title</td>
		<td>product_count</td>
		<td>status</td>
		<td>oper</td>
	</tr>
	<% @products.each do |product| %>
	<tr>
		<td><%= link_to product.name, "/admin/products/#{product.id}/edit" %></td>
		<td><%= product.name %></td>
		<td><%= product.name %></td>
		<td>
			<%= link_to 'preview', "/buy/#{product.id}" %> | 
			<%= link_to 'edit', "/admin/products/#{product.id}/edit" %> | 
			<%= link_to 'delete', "/admin/products/#{product.id}", method: :delete, confirm: 'are u wanna del this product?' %>
		</td>
	</tr>
	<% end %>
	<%= (will_paginate @products, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
</table>