<% form_for @user, '/login', :method => :post do |form|%>
  <p>
  	email:
  	<%= form.text_field :email %>
  </p>
  <p>
  	password:
  	<%= form.password_field :password %>
  </p>
  <p class="remember_me" >
    <%= check_box_tag :remember_me, :checked => true %>
    <%= label_tag :remember_me, :caption => "两周内自动登录" %>
  </p>
  <p>
  	<%= form.submit 'submit' %>
  </p>
<% end %>