<% form_for @user, '/sign_up', :method => :post do |form|%>
  <%= f.error_messages %>
  <p>
    nickname:
    <%= form.text_field :nickname %>
  </p>
  <p>
    email:
    <%= form.text_field :email %>
  </p>
  <p>
    password:
    <%= form.password_field :password %>
  </p>
  <p>
    password_confirm:
    <%= form.password_field :password_confirmation %>
  </p>
  <p>
    <%= form.submit 'submit' %>
  </p>
<% end %>