
<div class="detail">
        <h4 class="detailTitle">用户列表</h4>

    <table class="countTable">
        <thead>
          <tr>
            <th class="info" colspan="5">users total:</th>
          </tr>
          <tr>
            <th>id</th>
            <th>nickname</th>
            <th>email</th>
            <th>role</th>
            <th>auth</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.nickname %></td>
            <td><%= user.email %></td>
            <td><%= user.role_description %></td>
            <td>
                <%= link_to 'reset password', "/admin/users/#{user.id}/reset_password", method: :put, confirm: "are u sure to reset password to 000000?" %> | 
                <% if user.saler? %> 
                <%= link_to 'convert to tuanyuan', "/admin/users/#{user.id}/change_role/0",method: :put, confirm: "are u sure to change role to tuanyuan?" %>
                <% else %>
                <%= link_to 'convert to saler', "/admin/users/#{user.id}/change_role/1" ,method: :put, confirm: "are u sure to change role to saler?"%>
                <% end %> 
            </td>
        </tr>
        <% end %>
        <%= (will_paginate @users, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
        </tbody>
    </table>

</div>