
<div class="detail">
        <h4 class="detailTitle">用户列表</h4>

    <table class="countTable">
        <thead>
          <tr>
            <th>id</th>
            <th>用户名</th>
            <th>email</th>
            <th>角色</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.nickname %></td>
            <td><%= user.email %></td>
            <td><%= user.role_description %></td>
            <td>
                <%= link_to '重置密码', "/admin/users/#{user.id}/reset_password", method: :put, confirm: "你确认重置该用户密码为000000么？" %> | 
                <% if user.saler? %> 
                <%= link_to '恢复为团员', "/admin/users/#{user.id}/change_role/0",method: :put, confirm: "你确定将该用户恢复成团员么？" %>
                <% else %>
                <%= link_to '变身为团长', "/admin/users/#{user.id}/change_role/1" ,method: :put, confirm: "你确定将该用户变身为团长么？"%>
                <% end %> 
            </td>
        </tr>
        <% end %>
        <%= (will_paginate @users, :previous_label => '前一页', :next_label => '后一页').to_s.html_safe %>
        </tbody>
    </table>

</div>