<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>酷妈团长</title>
<%== csrf_meta_tags %>
<%== stylesheet_tag 'admin' %>
</head>

<body>
<div class="clearfix siteNav"><a href="#" class="fl">现在就免费开通酷妈团长</a><a class="fr" href="#">登录»</a><span class="fr">已开通服务的客户请&nbsp;&nbsp;</span> </div>
<div class="clearfix siteNav"><a class="fr" href="#">退出</a><span class="fr">尊敬的会员&nbsp;<font>张呵呵</font>&nbsp;您好！&nbsp;&nbsp;</span> </div>
<div id="topBar" class="clearfix"> <a id="logo" href="/"><img src="<%= image_path('main_logo.png') %>" alt="logo" /></a>
</div>
<div id="mainContent" class="clearfix"> 
  <!-- 右侧栏 -->
  <div id="rightBox">
  	<%= yield %>
  </div>
  <!-- 右侧栏结束 --> 
</div>
</div>
<%== javascript_tag 'admin',charset: "UTF-8" %>
</body>
</html>